<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Instagram Photo Feed</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  
    <!-- Custom CSS -->
    <link href="src/styles.css" rel="stylesheet">
</head>
<body>
    
    <!--THE GRID WITH ONE IMAGE BY ROW-->
    <div class="align-items-center mb-4 mx-auto" style="width:650px; height:auto;">
        
        <!--Imagen 01-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Las Montañas Rocosas de Canadá</h4>
                5/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana05.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">125 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 02-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Montañas reflejadas en el Lago</h4>
                2/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana02.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">265 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 03-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Las Nubes - Coronado de Costa Rica</h4>
                7/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana07.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">12507 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 04-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">El Monte Cervino de Suiza</h4>
                1/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana01.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">1250 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 05-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Cima del Mauna Kea de Hawaii</h4>
                8/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana08.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">539 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 06-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Las Dolomitas de Italia</h4>
                4/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana04.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">8325 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 07-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Volcán Iztaccíhuatl de México</h4>
                9/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana09.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">105 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 08-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Montañas Verdes</h4>
                6/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana06.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">325 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>

        <!--Imagen 09-->
        <div class="border col-12 mt-4 rounded">
            <div class="container border d-flex justify-content-between">
                <h4 class="fs-4 fw-bold mt-2">Canal de las Montañas de Chile</h4>
                3/9
            </div>
            <div class="row justify-content-center" style="width:672px;">
                <div class="col-12"><img src="../src/img/montana03.jpg" alt="" class="imagen w-100"></div>
            </div>            
            <div class="row col-12 ms-1">
                <p class="mt-1"><span class="fw-bold">11479 Likes</span>
                <br>
                This is an example of a very good photo that you can post on instagram</p>
            </div>
        </div>
        
    </div>
</body>